@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");

body {
  background: linear-gradient(to right, #3fb6a8, #7ed386);
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
}

.register-login-container {
  color: #3fb6a8;
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  font-size: 16px;
}
